
.btn-choose{
    border:0;
    position: relative;
    width: auto;
    min-width: 200px;
    margin-top: 3rem;
}
.btn-choose::after{
    content: "";
    display: inline-block;
    width: 20%;
    position: absolute;
    bottom: -2px;
    left: 40%;
    height: 1px;
    background-color: var(--lighter-blue);
    transition: 0.5s;
}
.btn-choose:hover::after{
    width: 100%;
    left: 0;
    
    
}
.hidden{
    display: none;
}

.correct::after{
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: green;
    transition: 0.5s;
  
}
.incorrect::after{
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color:var(--red);
  
}

#loader{
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top:1.6rem solid var(--lighter-blue);
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

/*local storage compatibility*/
#local-storage{
    position: fixed;
    top:0px;
    left:0;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    padding: 5px 0;
    background-color:#ff9f9f;
    color:black;
}
#noMoreQ{
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    padding: 5px 0;
    background-color:var(--light-blue);
    color:black;
}
#noMoreQ a{
    text-decoration: underline;
    font-weight: bold;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}